---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import SocialPill from "../components/SocialPill.astro"
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';


import GithubIcon from "../components/icons/Github.astro";
import JobIcon from "../components/icons/Job.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import EmailIcon from "../components/icons/Email.astro";
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio de Adrian Jurado. Desarrollador web full stack" description="Portfolio de Adrian Jurado. Programador y desarrollador web full stack">
	<main class="p-6">
		<SectionContainer class="py-44 pb-24">
			<img 
				class="rounded size-12"
				src="profile.jpg" 
				alt="Foto de perfil" 
			/>
			<h1 class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Soy Adrián 
				<a class="flex justify-center items-center" href="https://www.linkedin.com/in/adrianjurvi/" target="_blank">
					<Badge>Buscando trabajo</Badge> 
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl  text-wrap max-w-[700px]">
				<span class="text-yellow-200/90">Desarrollador web junior.</span> <span class="opacity-80">Enfocado en Javascript y frameworks. Persona adaptable y dispuesta a enfrentarse a nuevos retos </span>👨🏻‍💻
			</h2>

			<nav class="flex gap-4 mt-4 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/adrianjurvi/">
					<LinkedInIcon class="size-4 lg:size-5"/>
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/AdrianJV27">
					<GithubIcon class="size-4 lg:size-5"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:adrianjjvv@gmail.com">
					<EmailIcon class="size-4 lg:size-5"/>
					adrianjjvv@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-xl font-semibold mb-6 flex gap-x-3 items-center">
				<JobIcon class="size-6"/>Experiencia laboral
			</h2>
			<Experience>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-6"/>Proyectos
			</h2>
			<Projects/>
		</SectionContainer>

	</main>
</Layout>

